/*************************
*******Typography******
**************************/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Abel);
body {
font-family: 'Roboto', sans-serif;
position: relative;
font-weight:400px;
}
ul li {
list-style: none;
}
a:hover {
outline: none;
text-decoration:none;
}
a:focus {
outline:none;
outline-offset: 0;
}
a {
-webkit-transition: 300ms;
-moz-transition: 300ms;
-o-transition: 300ms;
transition: 300ms;
}
h1, h2, h3, h4, h5, h6 {
font-family: 'Roboto', sans-serif;
}
.btn:hover, 
.btn:focus{
outline: none;
box-shadow: none;
}
.navbar-toggle {
background-color: #000;
}
a#scrollUp {
bottom: 0px;
right: 10px;
padding: 5px 10px;
background: #41b8ff;
color: #FFF;
-webkit-animation: bounce 2s ease infinite;
animation: bounce 2s ease infinite;
}
a#scrollUp i{
font-size: 30px;
}
/*************************
*******Header CSS******
**************************/
.header-middle .container .row {
border-bottom: 1px solid #f5f5f5;
margin-left: 0;
margin-right: 0;
padding-bottom: 20px;
padding-top: 20px;
}
.header-middle .container .row .col-sm-4{
padding-left: 0;
}
.header-middle .container .row .col-sm-8 {
padding-right:0;
}
.shop-menu ul li {
display:inline-block;
padding-left: 15px;
padding-right: 15px;
}
.shop-menu ul li:last-child {
padding-right: 0;
}
.shop-menu ul li a {
background: #FFFFFF;
color: #696763;
font-family: 'Roboto', sans-serif;
font-size: 14px;
font-weight: 300;
padding:0;
padding-right: 0;
margin-top: 10px;
}
.shop-menu ul li a i{
margin-right:3px;
}
.shop-menu ul li a:hover {
color: #a4acfe;
background:#fff;
}
.header-bottom {
padding-bottom: 30px;
padding-top: 30px;
}
.navbar-collapse.collapse{
padding-left: 0;
}
.mainmenu ul li{
padding-right: 15px;
padding-left: 15px;
}
.mainmenu ul li:first-child{
padding-left: 0px;
}
.mainmenu ul li a {
color: #696763;
font-family: 'Roboto', sans-serif;
font-size: 17px;
font-weight: 300;
padding: 0;
padding-bottom: 10px;
}
.mainmenu ul li a:hover, .mainmenu ul li a.active{
background:none;
color: #a4acfe;
}
.new, .sale {
    position: absolute;
    top: 0;
    right: 0;
}
.search_box input {
background: #F0F0E9;
border: medium none;
color: #B2B2B2;
font-family: 'roboto';
font-size: 12px;
font-weight: 300;
height: 35px;
outline: medium none;
padding-left: 10px;
width: 155px;
background-image: url(../images/home/searchicon.png);
background-repeat: no-repeat;
background-position: 130px;
}
/*  Dropdown menu*/
.navbar-header 
.navbar-toggle .icon-bar {
background-color: #fff;
}
.nav.navbar-nav > li:hover > ul.sub-menu{
display: block;
-webkit-animation: fadeInUp 400ms;
-moz-animation: fadeInUp 400ms;
-ms-animation: fadeInUp 400ms;
-o-animation: fadeInUp 400ms;
animation: fadeInUp 400ms;
}
ul.sub-menu {
position: absolute;
top: 30px;
left: 0;
background: rgba(0, 0, 0, 0.6);
list-style: none;
padding: 0;
margin: 0;
width: 220px;
-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
display: none;
z-index: 999;
}
.navbar-nav li ul.sub-menu li{
padding: 10px 20px 0 ;
}
.navbar-nav li ul.sub-menu li:last-child{
padding-bottom: 20px;
}
.navbar-nav li ul.sub-menu li a{
color: #fff;
}
.navbar-nav li ul.sub-menu li a:hover{
color: #a4acfe;
}
.fa-angle-down{
padding-left: 5px; 
}
@-webkit-keyframes fadeInUp {
0% {
opacity: 0;
-webkit-transform: translateY(20px);
transform: translateY(20px);
}
100% {
opacity: 1;
-webkit-transform: translateY(0);
transform: translateY(0);
}
}
/*************************
*******Footer CSS******
**************************/
#footer {
background: #F0F0E9;
}
.footer-bottom {
background: #D6D6D0;
padding-top: 10px;
}
.footer-bottom p {
color: #363432;
font-family: 'Roboto', sans-serif;
font-weight: 300;
margin-left: 15px;
}
/*************************
******* Home ******
**************************/
#slider {
padding-bottom: 45px;
}
.carousel-indicators li {
background: #C4C4BE;
}
.carousel-indicators li.active {
background: #6f75fe;
}
.item {
padding-left: 100px;
}
.pricing {
position: absolute;
right: 40%;
top: 52%;
}
.girl {
margin-left: 0;
}
.item h1 {
color: #B4B1AB;
font-family: abel;
font-size: 48px;
margin-top: 115px;
}
.item h1 span {
color:#a4acfe;
}
.item h2 {
color: #363432;
font-family: 'Roboto', sans-serif;
font-size: 28px;
font-weight: 700;
margin-bottom: 22px;
margin-top: 10px;
}
.item  p {
color:#363432;
font-size:16px;
font-weight:300;
font-family: 'Roboto', sans-serif;
}
.get {
background: #a4acfe;
border: 0 none;
border-radius: 0;
color: #FFFFFF;
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 300;
margin-top: 23px;
}
.item button:hover {
background: #e3e0d7;
}
.control-carousel {
position: absolute;
top: 50%;
font-size: 60px;
color: #C2C2C1;
}
.control-carousel:hover{
color: #a4acfe ;
}
.right {
right: 0;
}
.category-products {
border: 1px solid #F7F7F0;
margin-bottom: 35px;
padding-bottom: 20px;
padding-top: 15px;
}
.left-sidebar h2 {
color: #a4acfe;
font-family: 'Roboto', sans-serif;
font-size: 18px;
font-weight: 700;
margin: 0 auto 30px;
text-align: center;
text-transform: uppercase;
position: relative;
z-index:3;
}
.left-sidebar h2:after, h2.title:after{
content: " ";
position: absolute;
border: 1px solid #f5f5f5;
bottom:8px;
left: 0;
width: 100%;
height: 0;
z-index: -2;
}
.left-sidebar h2:before{
content: " ";
position: absolute;
background: #fff;
bottom: -6px;
width: 130px;
height: 30px;
z-index: -1;
left: 50%;
margin-left: -65px;
}
h2.title:before{
content: " ";
position: absolute;
background: #fff;
bottom: -6px;
width: 220px;
height: 30px;
z-index: -1;
left: 50%;
margin-left: -110px;
}
.category-products .panel {
background-color: #FFFFFF;
border: 0px;
border-radius: 0px;
box-shadow:none;
margin-bottom: 0px;
padding-right: 30px;
}
.category-products .panel-default .panel-heading {
background-color: #FFFFFF;
border: 0 none;
color: #FFFFFF;
padding: 5px 20px;
}
.category-products .panel-default .panel-heading .panel-title a {
color: #696763;
font-family: 'Roboto', sans-serif;
font-size: 14px;
text-decoration: none;
text-transform: uppercase;
}
.panel-group .panel-heading + .panel-collapse .panel-body {
border-top: 0 none;
}
.category-products .badge {
background:none;
border-radius: 10px;
color: #696763;
display: inline-block;
font-size: 12px;
font-weight: bold;
line-height: 1;
min-width: 10px;
padding: 3px 7px;
text-align: center;
vertical-align: baseline;
white-space: nowrap;
}
.panel-body ul{
padding-left: 20px;
}
.panel-body ul li a {
color: #696763;
font-family: 'Roboto', sans-serif;
font-size: 12px;
text-transform: uppercase;
}
.padding-right {
padding-right: 0;
}
.features_items{
overflow:hidden;
}
h2.title {
color: #a4acfe;
font-family: 'Roboto', sans-serif;
font-size: 18px;
font-weight: 700;
margin: 0 15px;
text-transform: uppercase;
margin-bottom: 30px;
position: relative;
}
.product-image-wrapper{
border:1px solid #F7F7F5;
overflow: hidden;
margin-bottom:30px;
}
.single-products {
position: relative;
}
.new {
position: absolute;
top: 0;
right: 0;
}
.productinfo h2{
color: #504eff;
font-family: 'Roboto', sans-serif;
font-size: 24px;
font-weight: 700;
}
.productinfo a{
    color: #79767c;
}
.productinfo a:hover{
color: #42bbfe;
}
.product-overlay h2{
color: #fff;
font-family: 'Roboto', sans-serif;
font-size: 24px;
font-weight: 700;
}
.productinfo p{
font-family: 'Roboto', sans-serif;
font-size: 14px;
font-weight: bold;
color: #696763;
}
.productinfo img{
width: 100%;
}
.productinfo{
position:relative;
}
.product-overlay {
background:#a4acfe;
top: 0;
display: none;
height: 0;
position: absolute;
transition: height 500ms ease 0s;
width: 100%;
display: block;
}
.single-products:hover .product-overlay {
display:block;
height:100%;
}
.product-overlay .overlay-content {
bottom: 0;
position: absolute;
bottom: 0;
text-align: center;
width: 100%;
}
.product-overlay .add-to-cart {
background:#fff;
border: 0 none;
border-radius: 0;
color: #a4acfe;
font-family: 'Roboto', sans-serif;
font-size: 15px;
margin-bottom: 25px;
}
.product-overlay .add-to-cart:hover {
background:#fff;
color: #a4acfe;
}
.product-overlay p{
font-family: 'Roboto', sans-serif;
font-size: 14px;
font-weight: 400;
color: #fff;
}
.add-to-cart {
background:#F5F5ED;
border: 0 none;
border-radius: 0;
color: #696763;
font-family: 'Roboto', sans-serif;
font-size: 15px;
margin-bottom: 25px;
}
.add-to-cart:hover {
background: #a4acfe;
border: 0 none;
border-radius: 0;
color: #FFFFFF;
}
.add-to-cart i{
margin-right:5px;
}
.add-to-cart:hover {
background: #b6e3ff;
color: #FFFFFF;
}
.category-tab {
overflow: hidden;
}
.category-tab ul {
background: #40403E;
border-bottom: 1px solid #a4acfe;
list-style: none outside none;
margin: 0 0 30px;
padding: 0;
width: 100%;
}
.category-tab ul li a {
border: 0 none;
border-radius: 0;
color: #B3AFA8;
display: block;
font-family: 'Roboto', sans-serif;
font-size: 14px;
text-transform: uppercase;
}
.category-tab ul  li  a:hover{
background:#a4acfe;
color:#fff;
}
.nav-tabs  li.active  a, .nav-tabs  li.active  a:focus, .nav-tabs  li.active  a:hover {
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
background-color: #a4acfe;
border:0px;
color: #FFFFFF;
cursor: default;
margin-right:0;
margin-left:0;
}
.nav-tabs  li  a {
border: 1px solid rgba(0, 0, 0, 0);
border-radius: 4px 4px 0 0;
line-height: 1.42857;
margin-right:0;
}
.recommended_items {
overflow: hidden;
}
#recommended-item-carousel .carousel-inner .item {
padding-left: 0;
}
.recommended-item-control {
position: absolute;
top: 41%;
}
.recommended-item-control i {
background: none repeat scroll 0 0 #a4acfe;
color: #FFFFFF;
font-size: 20px;
padding: 4px 10px;
}
.recommended-item-control i:hover {
background: #ccccc6;
}
.recommended_items  h2 {
}
/*************************
*******Shop CSS******
**************************/
.pagination {
display: inline-block;
margin-bottom: 25px;
margin-top: 0;
padding-left: 15px;
}
.pagination  li:first-child  a {
border-bottom-left-radius: 0;
border-top-left-radius: 0;
margin-left: 0;
}
.pagination  li:last-child  a {
border-bottom-right-radius: 0;
border-top-right-radius: 0;
}
.pagination  .active  a, .pagination  .active  a:hover, .pagination  .active  a:focus {
background-color: #a4acfe;
border-color: #a4acfe;
color: #FFFFFF;
cursor: default;
z-index: 2;
}
.pagination  li  a {
background-color: #f0f0e9;
border: 0;
float: left;
line-height: 1.42857;
margin-left: -1px;
padding: 12px 15px;
position: relative;
text-decoration: none;
margin-right: 5px;
color:#000;
}
.pagination  li  a:hover{
background: #a4acfe;
color:#fff;
}
/*************************
*******Product Details CSS******
**************************/
.product-details{
overflow:hidden;
}
#similar-product {
margin-top: 40px;
}
#reviews {
padding-left: 25px;
padding-right: 25px;
}
.product-details {
margin-bottom: 40px;
overflow: hidden;
margin-top: 10px;
}
.view-product {
position: relative;
}
.view-product img {
border: 1px solid #F7F7F0;
height: 380px;
width: 100%;
}
.view-product h3 {
background: #a4acfe;
bottom: 0;
color: #FFFFFF;
font-family: 'Roboto', sans-serif;
font-size: 14px;
font-weight: 700;
margin-bottom: 0;
padding: 8px 20px;
position: absolute;
right: 0;
}
#similar-product .carousel-inner .item{
padding-left:0px;
}
#similar-product .carousel-inner .item img {
display: inline-block;
margin-left: 15px;
}
.item-control {
position: absolute;
top: 35%;
}
.item-control i {
background: #a4acfe;
color: #FFFFFF;
font-size: 20px;
padding: 5px 10px;
}
.item-control i:hover{
background:#ccccc6;
}
.product-information {
border: 1px solid #F7F7F0;
overflow: hidden;
padding-bottom: 60px;
padding-left: 60px;
padding-top: 60px;
position: relative;
}
.newarrival{
position:absolute;
top:0;
left:0
}
.product-information h2 {
color: #363432;
font-family: 'Roboto', sans-serif;
font-size: 20px;
margin-top: 0;
}
.product-information p {
color: #696763;
font-family: 'Roboto', sans-serif;
margin-bottom: 5px;
}
.product-information span {
display: inline-block;
margin-bottom: 8px;
margin-top: 18px;
}
.product-information span span {
color: #504efe;
float: left;
font-family: 'Roboto', sans-serif;
font-size: 30px;
font-weight: 700;
margin-right: 20px;
margin-top: 0px;
}
.product-information span input {
border: 1px solid #DEDEDC;
color: #696763;
font-family: 'Roboto', sans-serif;
font-size: 20px;
font-weight: 700;
height: 33px;
outline: medium none;
text-align: center;
width: 50px;
}
.product-information span label {
color: #696763;
font-family: 'Roboto', sans-serif;
font-weight: 700;
margin-right: 5px;
}
.cart {
background: #5fa6ff;
border: 0 none;
border-radius: 0;
color: #FFFFFF;
font-family: 'Roboto', sans-serif;
font-size: 15px;
margin-bottom: 10px;
margin-left: 20px;
}
.shop-details-tab {
border: 1px solid #F7F7F0;
margin-bottom: 75px;
margin-left: 15px;
margin-right: 15px;
padding-bottom: 10px;
}
.shop-details-tab .col-sm-12 {
padding-left: 0;
padding-right: 0;
}
#reviews ul {
background: #FFFFFF;
border: 0 none;
list-style: none outside none;
margin: 0 0 20px;
padding: 0;
}
#reviews  ul  li {
display:inline-block;
}
#reviews ul li a {
color: #696763;
display: block;
font-family: 'Roboto', sans-serif;
font-size: 14px;
padding-right: 15px;
}
#reviews ul li a i{
color: #5fa6ff;
padding-right:8px;
}
#reviews ul li a:hover{
background:#fff;
color: #8a91fe;
}
#reviews p{
color:#363432;
}
#reviews  form span {
display: block;
}
#reviews form span input {
background:#F0F0E9;
border: 0 none;
color: #A6A6A1;
font-family: 'Roboto', sans-serif;
font-size: 14px;
outline: medium none;
padding: 8px;
width: 48%;
}
#reviews form span input:last-child {
margin-left: 3%;
}
#reviews textarea {
background: #F0F0E9;
border: medium none;
color: #A6A6A1;
height: 195px;
margin-bottom: 25px;
margin-top: 15px;
outline: medium none;
padding-left: 10px;
padding-top: 15px;
resize: none;
width: 99.5%;
}
#reviews button {
background: #7c78ff;
border: 0 none;
border-radius: 0;
color: #FFFFFF;
font-family: 'Roboto', sans-serif;
font-size: 14px;
}
/*************************
*******404 CSS******
**************************/
/*************************
*******login page CSS******
**************************/
#form {
display: block;
margin-bottom: 340px;
margin-top: 185px;
overflow: hidden;
}
.login-form {
}
.signup-form {
}
.login-form h2, .signup-form h2 {
color: #696763;
font-family: 'Roboto', sans-serif;
font-size: 20px;
font-weight: 300;
margin-bottom: 30px;
}
.login-form form input, .signup-form form input {
background: #F0F0E9;
border: medium none;
color: #696763;
display: block;
font-family: 'Roboto', sans-serif;
font-size: 14px;
font-weight: 300;
height: 40px;
margin-bottom: 10px;
outline: medium none;
padding-left: 10px;
width: 100%;
}
.login-form form button {
margin-top: 23px;
}
.login-form form button, .signup-form form button {
background: #8a91fe;
border: medium none;
border-radius: 0;
color: #FFFFFF;
display: block;
font-family: 'Roboto', sans-serif;
padding: 6px 25px;
}
.or{
background: #8a91fe;
border-radius: 40px;
color: #FFFFFF;
font-family: 'Roboto', sans-serif;
font-size: 16px;
height: 50px;
line-height: 50px;
margin-top: 75px;
text-align: center;
width: 50px;
}
/*************************
*******Cart CSS******
**************************/
#do_action {
margin-bottom: 50px;
}
.breadcrumbs {
position: relative;
}
.breadcrumbs .breadcrumb {
background:transparent;
margin-bottom: 75px;
padding-left: 0;
}
.breadcrumbs .breadcrumb li a {
background: #a4acfe;
color: #FFFFFF;
padding: 3px 7px;
}
.breadcrumbs .breadcrumb li a:after {
content:"";
height:auto;
width: auto;
border-width: 8px;
border-style: solid;
border-color:transparent transparent transparent #a4acfe;
position: absolute;
top: 11px;
left:48px;
}
.breadcrumbs .breadcrumb > li + li:before {
content: "•";
}
#cart_items .cart_info {
border: 1px solid #E6E4DF;
margin-bottom: 50px
}
#cart_items .cart_info .cart_menu {
background: #a4acfe;
color: #fff;
font-size: 16px;
font-family: 'Roboto', sans-serif;
font-weight: normal;
}
#cart_items .cart_info .table.table-condensed thead tr {
height: 51px;
}
#cart_items .cart_info .table.table-condensed tr {
border-bottom: 1px solid#F7F7F0
}
#cart_items .cart_info .table.table-condensed tr:last-child {
border-bottom: 0
}
.cart_info table tr td {
border-top: 0 none;
vertical-align: inherit;
}
#cart_items .cart_info .image {
padding-left: 30px;
}
#cart_items .cart_info .cart_description h4 {
margin-bottom: 0
}
#cart_items .cart_info .cart_description h4 a {
color: #363432;
font-family: 'Roboto',sans-serif;
font-size: 20px;
font-weight: normal;
}
#cart_items .cart_info .cart_description p {
color:#696763
}
#cart_items .cart_info .cart_price p {
color:#696763;
font-size: 18px
}
#cart_items .cart_info .cart_total_price {
color: #6f75fe;
font-size: 24px;
}
.cart_product {
display: block;
margin: 15px -70px 10px 25px;
}
.cart_quantity_button a {
background:#F0F0E9;
color: #696763;
display: inline-block;
font-size: 16px;
height: 28px;
overflow: hidden;
text-align: center;
width: 35px;
float: left;
}
.cart_quantity_input {
color: #696763;
float: left;
font-size: 16px;
text-align: center;
font-family: 'Roboto',sans-serif;
}
.cart_delete  {
display: block;
margin-right: -12px;
overflow: hidden;
}
.cart_delete a {
background:#F0F0E9;
color: #FFFFFF;
padding: 5px 7px;
font-size: 16px
}
.cart_delete a:hover {
background: #6f75fe
}
.bg h2.title {
margin-right:0;
margin-left:0;
margin-top: 0;
}
.heading h3 {
color: #363432;
font-size: 20px;
font-family: 'Roboto', sans-serif;
}
.heading p {
color: #434343;
font-size: 16px;
font-weight: 300;
}
#do_action .total_area {
padding-bottom: 18px !important;
}
#do_action .total_area, #do_action .chose_area {
border: 1px solid #E6E4DF;
color: #696763;
padding: 30px 25px 30px 0;
margin-bottom: 80px;
}
.total_area span {
float: right;
}
.total_area ul li {
background:#E6E4DF;
color: #696763;
margin-top: 10px;
padding: 7px 20px;
}
.user_info {
display: block;
margin-bottom: 15px;
margin-top: 20px;
overflow: hidden;
}
.user_info label {
color: #696763;
display: block;
font-size: 15px;
font-weight: normal;
}
.user_info .single_field {
width: 31%
}
.user_info .single_field.zip-field input {
background: transparent;
border: 1px solid#F0F0E9
}
.user_info > li {
float: left;
margin-right: 10px
}
.user_info input, select, textarea {
background: #F0F0E9;
border:0;
color: #696763;
padding: 5px;
width: 100%;
border-radius: 0;
resize: none
}
.user_info select:focus {
border: 0
}
.update, .check_out {
background: #a4acfe;
border-radius: 0;
color: #FFFFFF;
margin-top: 18px;
border: none;
padding: 5px 15px;
}
.update{
margin-left: 40px;
}
.check_out {
margin-left: 20px
}
/*************************
*******checkout CSS******
**************************/
.step-one {
margin-bottom: -10px
}
.register-req, .step-one .heading {
background: none repeat scroll 0 0 #F0F0E9;
color: #363432;
font-size: 20px;
margin-bottom: 35px;
padding: 10px 25px;
font-family: 'Roboto', sans-serif;
}
.checkout-options {
padding-left: 20px
}
.checkout-options h3 {
color: #363432;
font-size: 20px;
margin-bottom: 0;
font-weight: normal;
font-family: 'Roboto', sans-serif;
}
.register-req  {
font-size: 14px;
font-weight: 300;
padding: 15px 20px;
margin-top: 35px;
}
.register-req p {
margin-bottom: 0
}
.shopper-info p, 
.bill-to p, 
.order-message p {
color: #696763;
font-size: 20px;
font-weight: 300
}
.form-two, .form-one {
float: left;
width: 47%
}
form * .shopper-info > input, 
form * .form-two > select, 
form * .form-two > input, 
form * .form-one > input {
background:#F0F0E9;
border: 0 none;
margin-bottom:10px;
padding: 10px;
width: 100%;
font-weight: 300
}
form * .form-two > select {
padding:10px 5px
}
.form-two {
margin-left: 5%
}
.order-message textarea {
font-size: 12px;
height: 335px;
margin-bottom: 20px;
padding: 15px 20px;
}
.payment-options {
margin-bottom:65px;
margin-top: -25px ;
text-align:center;
}
#cart_items .cart_info 
.table.table-condensed.total-result {
margin-bottom: 10px;
margin-top: 35px;
color: #696763
}
#cart_items .cart_info 
.table.table-condensed.total-result tr {
border-bottom: 0
}
#cart_items .cart_info 
.table.table-condensed.total-result span {
color: #a4acfe;
font-weight: 700;
font-size: 16px
}
#cart_items .cart_info 
.table.table-condensed.total-result 
.shipping-cost {
border-bottom: 1px solid #F7F7F0;
}
.blog-post-area
.single-blog-post h3 {
color: #696763;
font-size: 16px;
font-family: 'Roboto',sans-serif;
text-transform: uppercase;
font-weight: 500;
margin-bottom: 17px;
}
.blog-post-area
.single-blog-post a img {
border: 1px solid #F7F7F0;
width: 100%;
margin-bottom: 30px
}
.blog-post-area
.single-blog-post p {
color: #363432
}
.blog-post-area
.post-meta {
display: block;
margin-bottom: 25px;
overflow: hidden;
}
.blog-post-area
.post-meta ul {
padding:0;
display: inline;
}
.blog-post-area
.post-meta ul li {
background:#F0F0E9;
float: left;
margin-right: 10px;
padding: 0 5px;
font-size: 11px;
color: #393b3b;
position: relative;
}
.blog-post-area
.post-meta ul li i {
background:#a4acfe;
color: #FFFFFF;
margin-left: -4px;
margin-right: 7px;
padding: 4px 7px;
}
.blog-post-area
.post-meta ul span {
float: right;
color: #a4acfe
}
.blog-post-area
.single-blog-post
.btn-primary {
background:#a4acfe;
border: medium none;
border-radius: 0;
color: #FFFFFF;
margin-top: 17px;
}
.pagination-area
.pagination li a {
background:#F0F0E9;
border: 0 none;
border-radius: 0;
color: #696763;
margin-right: 5px;
padding: 4px 12px;
}
.pagination-area
.pagination li a:hover,
.pagination-area
.pagination li .active {
background:#a4acfe;
color: #fff
}
.pager-area
.pager li a:hover {
background: #a4acfe;
color: #fff
}
.rating-area
.ratings li i {
color:#CCCCCC
}
.rating-area
.ratings .color,
.rating-area .tag {
float: right;
margin-bottom: 0;
margin-right: 10px;
}
.commnets
.media-object {
margin-right: 15px;
width: 100%;
}
.btn.btn-primary {
background: #a4acfe;
border: 0 none;
border-radius: 0;
margin-top: 50px;
}
/*************************
******* Contact CSS ********
**************************/
.contact-map {
width: 100%;
height: 385px;
margin-bottom: 70px
}
.contact-form .form-group {
margin-bottom: 20px;
}
#contact-page 
.form-control::-moz-placeholder {
color: #8D8D8D;
}
#contact-page .form-control {
background-color: #fff;
border: 1px solid #ddd;
color: #696763;
height: 46px;
padding: 6px 12px;
width: 100%;
font-size: 16px;
border-radius: 4px;
box-shadow:inherit;
}
#contact-page #message {
height:160px;
resize:none;
}
#main-contact-form .btn-primary {
margin-bottom: 15px;
margin-top: 20px;
}
#contact-page .form-control:focus, 
#contact-page .form-control:hover {
box-shadow: inherit;
border-color: #FDB45E;
}
#contact-page .contact-info {
padding: 0 20px;
}
#contact-page .contact-info address {
margin-bottom: 40px;
margin-top: -5px;
}
#contact-page .contact-info p {
margin-bottom: 0;
color: #696763;
font-size: 16px;
line-height: 25px;
}

